<section class="seller">
  <div class="pt-0 m-5 section__container seller__container">
    <div class="section__header">
      <div class="section__title pb-4">BEST SELLER</div>
      <div class="seller__nav">
        <span><i class="ri-arrow-left-s-line"></i></span>
        <span><i class="ri-arrow-right-s-line"></i></span>
      </div>
    </div>
    <div class="row  ">
      <div  class="col-sm-6 col-md-4 col-lg-3 col-xl-3"   *ngFor="let cart of carts">
        <app-cart-item [product]="cart"></app-cart-item>
      </div>
    </div>
  </div>
</section>
