 <div class="container">
        <h1 class="text-center">Shopping Cart</h1>
        <table class="table table-striped">

          <div  *ngFor="let cart of carts">
         <app-product-item [product]="cart"></app-product-item></div>
            <tfoot>
                <tr class="d-flex align-items-center">
                    <td colspan="3"><strong>Total:</strong></td>
                    <td class="fs-4 text-success"><strong>$ {{dataService.getTotalCartPrice()|  number:'1.0-2'}}
                    </strong></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
        <p><a href="#" class="btn btn-primary" role="button">Checkout</a></p>
    </div>
