<section class="seller">
  <div class=" pt-0 m-5 section__container seller__container">
    <div class="section__header">
      <div class="section__title pb-4">BEST SELLER</div>
      <div class="seller__nav">
        <span><i class="ri-arrow-left-s-line"></i></span>
        <span><i class="ri-arrow-right-s-line"></i></span>
      </div>
    </div>
    <div class="seller__grid">
      <div class="seller__card border rounded-3">
        <img src="assets/product1.jpg" alt="seller" />
        <div class="seller__overlay">
          <button class=" btn btn-warning p-2 m-2">+Add to Cart</button>
        </div>
        <!-- <div class="seller__card__details">
          <p class="fs-5 fw-medium">Lounge Chair</p>
          <p class="price ">></p>
        </div> -->

        <div class="card-body  ">
          <h3>Chair</h3>
          <p>Lorem ipsum dolor sit amet.</p>
          <h5><span class="fs-6">Price: &nbsp;</span><span class="text-success fs-6 fw-medium">$28.72</span>&nbsp;<del class="text-danger fs-6 fw-medium">$35.00</del></h5>
          <button>Order Now</button>
      </div>
      </div>
      <div class="seller__card border rounded-3">
        <img src="assets/product2.jpg" alt="seller" />
        <div class="seller__overlay">
          <button class=" btn btn-warning p-2 m-2">+Add to Cart</button>
        </div>


        <div class="card-body  ">
          <h3>Chair</h3>
          <p>Lorem ipsum dolor sit amet.</p>
          <h5><span class="fs-6">Price: &nbsp;</span><span class="text-success fs-6 fw-medium">$35.50</span>&nbsp;<del class="text-danger fs-6 fw-medium">$50.00</del></h5>
          <button>Order Now</button>
      </div>
      </div>
      <div class="seller__card border rounded-3">
        <img src="assets/product3.jpg" alt="seller" />
        <div class="seller__overlay">
          <button class=" btn btn-warning p-2 m-2">+Add to Cart</button>
        </div>


        <div class="card-body  ">
          <h3>Chair</h3>
          <p>Lorem ipsum dolor sit amet.</p>
          <h5><span class="fs-6">Price: &nbsp;</span><span class="text-success fs-6 fw-medium">$18.75</span>&nbsp;<del class="text-danger fs-6 fw-medium">$30.00</del></h5>
          <button>Order Now</button>
      </div>
      </div>
      <div class="seller__card border rounded-3">
        <img src="assets/product4.jpg" alt="seller" />
        <div class="seller__overlay">
          <button class=" btn btn-warning p-2 m-2">+Add to Cart</button>
        </div>


        <div class="card-body  ">
          <h3>Chair</h3>
          <p>Lorem ipsum dolor sit amet.</p>
          <h5><span class="fs-6">Price: &nbsp;</span><span class="text-success fs-6 fw-medium">$40.72</span>&nbsp;<del class="text-danger fs-6 fw-medium">$45.00</del></h5>
          <button>Order Now</button>
      </div>
      </div>
      <div class="seller__card border rounded-3">
        <img src="assets/product5.jpg" alt="seller" />
        <div class="seller__overlay">
          <button class=" btn btn-warning p-2 m-2">+Add to Cart</button>
        </div>



        <div class="card-body  ">
          <h3>Chair</h3>
          <p>Lorem ipsum dolor sit amet.</p>
          <h5><span class="fs-6">Price: &nbsp;</span><span class="text-success fs-6 fw-medium">$25.25</span>&nbsp;<del class="text-danger fs-6 fw-medium">$35.00</del></h5>
          <button>Order Now</button>
      </div>
      </div>
      <div class="seller__card border rounded-3">
        <img src="assets/product6.jpg" alt="seller" />
        <div class="seller__overlay">
          <button class=" btn btn-warning p-2 m-2">+Add to Cart</button>
        </div>

        <div class="card-body  ">
          <h3>Chair</h3>
          <p>Lorem ipsum dolor sit amet.</p>
          <h5><span class="fs-6">Price: &nbsp;</span><span class="text-success fs-6 fw-medium">$40.00</span>&nbsp;<del class="text-danger fs-6 fw-medium">$42.00</del></h5>
          <button>Order Now</button>
      </div>
      </div>
      <div class="seller__card border rounded-3">
        <img src="assets/product7.jpg" alt="seller" />
        <div class="seller__overlay">
          <button class=" btn btn-warning p-2 m-2">+Add to Cart</button>
        </div>

         <div class="card-body  ">
    <h3>Chair</h3>
    <p>Lorem ipsum dolor sit amet.</p>
    <h5><span class="fs-6">Price: &nbsp;</span><span class="text-success fs-6 fw-medium">$24.50</span>&nbsp;<del class="text-danger fs-6 fw-medium">$45.00</del></h5>
    <button>Order Now</button>
</div>
      </div>
      <div class="seller__card border rounded-3">
        <img src="assets/product8.jpg" alt="seller" />
        <div class="seller__overlay">
          <button class=" btn btn-warning p-2">+Add to Cart</button></div>

        <div class="card-body  ">
          <h3>Chair</h3>
          <p>Lorem ipsum dolor sit amet.</p>
          <h5><span class="fs-6">Price: &nbsp;</span><span class="text-success fs-6 fw-medium">$15.99</span>&nbsp;<del class="text-danger fs-6 fw-medium">$20.00</del></h5>
          <button>Order Now</button>
      </div>
      </div>
    </div>
  </div>

</section>



<!-- <section class="seller">
  <div class="container-fluid py-5">
    <h2 class="section__title pb-4 text-center">BEST SELLER</h2>
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="seller__card border rounded-3">
          <img src="assets/product1.jpg" alt="seller" />
          <div class="seller__overlay">
            <button class="btn btn-warning p-2 m-2">+Add to Cart</button>
          </div>
          <div class="card-body">
            <h3>Chair</h3>
            <p>Lorem ipsum dolor sit amet.</p>
            <h5><span class="fs-6">Price: &nbsp;</span><span class="text-success fs-6 fw-medium">$28.72</span>&nbsp;<del class="text-danger fs-6 fw-medium">$35.00</del></h5>
            <button class="btn btn-primary">Order Now</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="seller__card border rounded-3">
          <img src="assets/product2.jpg" alt="seller" />
          <div class="seller__overlay">
            <button class="btn btn-warning p-2 m-2">+Add to Cart</button>
          </div>
          <div class="card-body">
            <h3>Chair</h3>
            <p>Lorem ipsum dolor sit amet.</p>
            <h5><span class="fs-6">Price: &nbsp;</span><span class="text-success fs-6 fw-medium">$35.50</span>&nbsp;<del class="text-danger fs-6 fw-medium">$50.00</del></h5>
            <button class="btn btn-primary">Order Now</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="seller__card border rounded-3">
          <img src="assets/product3.jpg" alt="seller" />
          <div class="seller__overlay">
            <button class="btn btn-warning p-2 m-2">+Add to Cart</button>
          </div>
          <div class="card-body">
            <h3>Chair</h3>
            <p>Lorem ipsum dolor sit amet.</p>
            <h5><span class="fs-6">Price: &nbsp;</span><span class="text-success fs-6 fw-medium">$18.75</span>&nbsp;<del class="text-danger fs-6 fw-medium">$30.00</del></h5>
            <button class="btn btn-primary">Order Now</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="seller__card border rounded-3">
          <img src="assets/product4.jpg" alt="seller" />
          <div class="seller__overlay">
            <button class="btn btn-warning p-2 m-2">+Add to Cart</button>
          </div>
          <div class="card-body">
            <h3>Chair</h3>
            <p>Lorem ipsum dolor sit amet.</p>
            <h5><span class="fs-6">Price: &nbsp;</span><span class="text-success fs-6 fw-medium">$40.72</span>&nbsp;<del class="text-danger fs-6 fw-medium">$45.00</del></h5>
            <button class="btn btn-primary">Order Now</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="seller__card border rounded-3">
          <img src="assets/product5.jpg" alt="seller" />
          <div class="seller__overlay">
            <button class="btn btn-warning p-2 m-2">+Add to Cart</button>
          </div>
          <div class="card-body">
            <h3>Chair</h3>
            <p>Lorem ipsum dolor sit amet.</p>
            <h5><span class="fs-6">Price: &nbsp;</span><span class="text-success fs-6 fw-medium">$22.50</span>&nbsp;<del class="text-danger fs-6 fw-medium">$25.00</del></h5>
            <button class="btn btn-primary">Order Now</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="seller__card border rounded-3">
          <img src="assets/product6.jpg" alt="seller" />
          <div class="seller__overlay">
            <button class="btn btn-warning p-2 m-2">+Add to Cart</button>
          </div>
          <div class="card-body">
            <h3>Chair</h3>
            <p>Lorem ipsum dolor sit amet.</p>
            <h5><span class="fs-6">Price: &nbsp;</span><span class="text-success fs-6 fw-medium">$30.00</span>&nbsp;<del class="text-danger fs-6 fw-medium">$35.00</del></h5>
            <button class="btn btn-primary">Order Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
