<div class="big-collection">
  <h1>Our products</h1>

  <div class="collect-flex">
      <div class="collect">
          <div class="image">
              <img class="img" src="assets/chair4.png" alt="">
          </div>
          <div class="link">
              <a href="#">chair</a>
          </div>
      </div>

      <div class="collect">
        <div class="image">
            <img class="img" src="assets/couch.png" alt="">
        </div>
        <div class="link">
            <a href="#">couch</a>
        </div>
    </div>

      <div class="collect">
          <div class="image">
              <img class="img"  src="assets/chair3.png" alt="">
          </div>
          <div class="link">
              <a href="#">furniture</a>
          </div>
      </div>

      <div class="collect">
          <div class="image">
              <img class="img" src="assets/bed.png" alt="">
          </div>
          <div class="link">
              <a href="#">bed</a>
          </div>
      </div>

      <div class="collect">
          <div class="image">
              <img class="img" src="assets/chair2.png" alt="">
          </div>
          <div class="link">
              <a href="#">armchair</a>
          </div>
      </div>


  </div>
</div>
