<section class="banner__2"  style="  background-image: url(assets/background-img.png);" >


  <div class="section__container p-5 banner__2__container">
    <p>SUPER SALE</p>
    <h2>UP TO 50%</h2>
<div class="countdown">
      <div class="square">
        <span>28</span>
        <span>DAYS</span>
      </div>
      <div class="square">
        <span>21</span>
        <span>HRS</span>
      </div>
      <div class="square">
        <span>15</span>
        <span>MINS</span>
      </div>
      <div class="square">
        <span>28</span>
        <span>SEC</span>
      </div>
    </div>
    <button>SHOP NOW</button>
  </div>
</section>
